.tx-teufels-ext-language-detection {

  .alert-warning {
    background-color: #ebebeb;
    border-color: #ebebeb;
    margin-bottom: 1px;
  }

  .alert-warning kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: black;
    background-color: #cccccc;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
  }

  p {
    margin: 0;
  }

}